# Node modules
node_modules/

# Logs
npm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Env files
.env
.env.local
.env.*.local

# Build output
dist/
build/

/package-lock.json
/http/
